@model IEnumerable<CashRegisterMVC.Models.ItemViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateAnItem")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemBrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalInventory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemBrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalInventory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemData.ItemId)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditAnItem", new {  id=item.ItemData.ItemId  }) |
            @Html.ActionLink("Details", "ItemVariationDetails", new { id = item.ItemData.ItemId}) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ItemData.ItemId })
        </td>
    </tr>
}

</table>
