@model IEnumerable<CashRegisterMVC.Models.Inventory.StoreItemViewModel>

@{
    ViewBag.Title = Html.DisplayFor(modelItem => modelItem.FirstOrDefault().VariationName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(modelItem => modelItem.First().VariationName) Item Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VariationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventoryAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VariationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditAnItemVariation", new { variationId = item.StoreItem.VariationId }) |
                @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
            </td>
        </tr>
    }

</table>