@model IEnumerable<CashRegisterMVC.Models.Inventory.ItemResponse>

@{
    ViewBag.Title = "ViewItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewItems</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemBrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalInventory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemBrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalInventory)
        </td>
        <td>
            @Html.ActionLink("View This Item", "ViewSingle", new {itemId = item.Id}) |
            @Html.ActionLink("Edit This Item", "Edit", new {id = item.Id}) |
            @Html.ActionLink("View Item Variation Details", "ViewItemVariation", new {itemId = item.Id}) |
            @Html.ActionLink("Delete This Item (Will Delete All Variations)", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
